<h1>ポケモンソード・シールド素早さ計算ツール</h1>
<div class="wrapper">
  <div class="myself_container">
    <div class="search_foram">
      <%= form_tag(pokemon_speed_path, method: :get, enforce_utf8: false, class: "name_search_form") do %>
        <button type="submit" class="button1"><i class="fas fa-search"></i></button>
      <% end %>
    </div>
  <div>
<div>
<p>Find me in app/views/speed/home.html.erb</p>
<div>
  <select class="js-data-example-ajax" style="width: 100%"></select>
</div>